  .authBlock {
    background-color: #91C7B1;
    max-width: 40%;
    margin: 5% auto;
    padding: 5%;
    text-align: center;
    border-radius: 5%;
  }
  
  .authTitle {
    font-size: 24px;
    color: mat-color(#91C7B1, default);
    margin-bottom: 15%;
  }
  
  .formField {
    width: 100%;
    margin-bottom: 5%;
  }
  
  mat-card-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
    button {
      margin-bottom: 5%;
    }

    .login {
      flex-basis: 100%;
    }

    .register {
      margin-left: 5%;
      margin-right: 5%;
      display: block;
      margin: 0 auto;
    }

  }
